/* Container for the entire board */
.board {
  font-family: "Roboto", sans-serif; /* JIRA uses a sans-serif font */
  background-color: #f4f5f7; /* Light grey background for the whole board */
  display: flex;
  flex-direction: column;
  /* padding: 24px; */
  height: 100vh;
  overflow: hidden;
}

/* Title for the board */
.board h1 {
  font-size: 32px;
  font-weight: 700;
  color: white; /* Dark JIRA blue */
  background-color: #0052cc;
  padding: 20px;
  margin: 0px;
}
